In [45]:
import pandas as pd
import requests

In [76]:
def get_cost_by_id(id):
    url = f"http://127.0.0.1:8000/api/ships_list/{id}/?format=json"
    response = requests.get(url)
    if response.status_code == 200:  # Successful request
        shipping_cost = response.text.strip()
        return shipping_cost
    else:
        # Handle the case where the request failed
        return None

In [77]:
def get_cost(row):
    url = "http://127.0.0.1:8000/api/ships_list/"
    payload = {
        "length": row["length"],
        "unit_len": row["unit_len"],
        "breadth": row["breadth"],
        "unit_bre": row["unit_bre"],
        "height": row["height"],
        "unit_hei": row["unit_hei"],
        "mode": row["mode"],
        "actual_weight": row["actual_weight"],
        "unit_wt": row["unit_wt"],
        "src_zip": row["src_zip"],
        "dest_zip": row["dest_zip"]
    }

    # Make a request to the Django API to create the Ship_params object
    response = requests.post(url, json=payload)
    if response.status_code == 201:  # Successful creation
        created_object = response.json()
        shipping_cost = get_cost_by_id(created_object["id"])
        return shipping_cost
    else:
        # Handle the case where the object creation failed
        return None

In [85]:
data = {
    "length": [5, 5, 5],
    "unit_len": ["in", "in", "in"],
    "breadth": [5, 5, 5],
    "unit_bre": ["in", "in", "in"],
    "height": [139, 139, 139],
    "unit_hei": ["in", "in", "in"],
    "mode": [5, 5, 5],
    "actual_weight": [20, 30, 40],  # Different actual weights
    "unit_wt": ["lb", "lb", "lb"],
    "src_zip": [10001, 10001, 10001],
    "dest_zip": [120, 120, 120]
}

df = pd.DataFrame(data)

In [86]:
df

,length,unit_len,breadth,unit_bre,height,unit_hei,mode,actual_weight,unit_wt,src_zip,dest_zip
0,5,in,5,in,139,in,5,20,lb,10001,120
1,5,in,5,in,139,in,5,30,lb,10001,120
2,5,in,5,in,139,in,5,40,lb,10001,120

In [ ]:
df["cost"] = df.apply(get_cost, axis=1)

In [83]:
df

,length,unit_len,breadth,unit_bre,height,unit_hei,mode,actual_weight,unit_wt,src_zip,dest_zip,cost
0,5,in,5,in,139,in,5,20,lb,10001,120,86.28
1,5,in,5,in,139,in,5,30,lb,10001,120,94.72
2,5,in,5,in,139,in,5,40,lb,10001,120,114.44